.container-nav-bar{
    height: 40px;
    background-color:  rgb(41, 128, 185);
    position: sticky;
    top:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;


}

.nav-items{
    width: 125px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-around;
    color: #EEEEEE;
    cursor: pointer;
    transition: .3s;
}

.title-nav-bar{
    color: white;
    transition: .3s;
    cursor: pointer;
}
.nav-items:hover{
    color: rgb(97, 218, 251);
}

.title-nav-bar:hover{
    color: rgb(97, 218, 251);
}