.container-nav-bar{
    height: 40px;
    background-color:  rgb(55,78,107);
    position: sticky;
    top:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    box-shadow:
  0 0px 1.2px rgba(0, 0, 0, 0.065),
  0 0px 3.2px rgba(0, 0, 0, 0.093),
  0 0px 6.5px rgba(0, 0, 0, 0.115),
  0 0px 12.3px rgba(0, 0, 0, 0.137),
  0 0px 23.9px rgba(0, 0, 0, 0.165),
  0 0px 80px rgba(0, 0, 0, 0.23)
;
}

.nav-items{
    width: 125px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-around;
    color: #EEEEEE;
    cursor: pointer;
    transition: .3s;
}

.title-nav-bar{
    color: white;
    transition: .3s;
    cursor: pointer;
}
.nav-items:hover{
    color: rgb(97, 218, 251);
}

.title-nav-bar:hover{
    color: rgb(97, 218, 251);
}