.resume-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 25px;
    margin: 0 0 25px;
    padding: 10px;

}
.resume-datail-content{
    margin-bottom:15px;
    border: 1px solid #dadce0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    width: 25%;
}

.container-card-filter{
    margin-bottom:15px;
    border: 1px solid #dadce0;
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: white;
    padding: 5px;
}

.tample-preview{
    min-height: 400px;
}