.buttons-progress-bar-container{
    display: flex;
    align-items: center;
    width: 100%;
    margin:10px;
    justify-content: center;
  }


  .button-step{
    font-size: 40px;
    cursor: pointer;
  }
  .button-step:hover{
    color: palevioletred
  }

  .generic-button-conteiner{
  width: 100px;
  height: 40px;
  padding: 5px;
  }