.content-table{
    border-collapse: collapse;
    margin:25px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  
  .content-table thead tr{
    background-color: white;
    color :grey;
    text-align: center;
    font-size: 16px;
  }
  
  .content-table th,
  .content-table td {
    padding:12px 15px;
    text-align: center;
    
  }
  .content-table tbody tr{
    background-color: white;
    border-bottom: 1px solid #dddddd;
    color :grey;
    font-size: 15px;
  }
  
  

  
  .content-table tbody tr td i{
    transition: all .3s ease;/* para que haga mas lento el cambio por ej en el hover*/
    cursor: pointer;
  }
  .content-table tbody tr td i:hover{
    color:  palevioletred;
  }
