.principal-loyout{
    display: grid;
    grid-template-columns: 240px 1fr;
  }

  .content-main{
    display: flex;
    flex-direction: column;
    background-color:#EEEEEE;
    padding:5px 10px 0 10px;
  }

