.principal-loyout{
    display: grid;
    width: 100%;
    grid-template-columns: 240px 1fr;
    grid-row: auto;
  }

  .content-main{
    display: flex;
    flex-direction: column;
    background-color:#EEEEEE;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

