.card-container{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
    width: 100%;


}

.card-header{
    display: flex;
    color: #555;
    height: 50px;
    padding-left: 20px;
    align-items: center;
    border-bottom: solid 0.5px grey;
    text-shadow: 0 1px rgb(214, 209, 209);
}

.card-content{
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.title-card{    
    font-size: 20px;
    font-weight: bold;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }


