.resume-container-gral{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.resume-datail-content-gral{
    margin-bottom:15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    width: 25%;
    min-width: 300px;
}

.container-card-filter-gral{
    margin-bottom:15px;
    border: 1px solid #dadce0;
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: white;
    padding: 5px;
}