.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 30px;
    font-size: 14px;
    color:#606060;
    padding-left: 40px;
    box-sizing: border-box;
    transition: all .4s ease;/* para que haga mas lento el cambio por ej en el hover*/
    cursor: pointer;
    font-weight: bold;
  }
  
  .sidebar ul li:hover a{
    padding-left: 50px;
    color:white;
    background-color: rgb(41, 128, 185);
    font-weight: bold;
  }
  
  .li-side-bar-selected{
    background-color:#ebe6df;
  }
  
  .sidebar i{
    color:#606060;
    margin-right: 10px;
  }
  
  .header-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .bar{
    position: sticky;
    top: 40px;
    background-color:white;
  }
  
  .container-side-bar{
    background-color:white;
    min-height: 100vh;

  }