.head-progress{
    position: sticky;
    top:40px;
    text-align: center;
    width: 100%;
    padding: 10px;

    box-sizing: border-box;
  }

  .content-campaign{
    width:100%;
    background-color: blue;
  }